@media (min-width: 576px) { 
  
 }

/*=========================================*/

/* lg */
@media (min-width: 1024px) {

    .head-info h1{
        font-size: 71px;
    }
    .col{
        position: relative;
    }
    .col i{
        padding-top: 5px !important;
        position: absolute;
        top: 20px;
        left: 100px;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        border: #0078ff solid 3px;
    }
    .img-title{
        display: inline-block;
        border-radius: 4px;
        bottom: 30px;
        left: 150px;
    }
    
    
}
    
    
   